
parameters:
    level: 6
    paths:
        - ./
    excludePaths:
        analyseAndScan:
            - public
            - vendor/
            - tests/
            - build (?)
            - cache (?)

    # some extra rules
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true

    ignoreErrors:
        - identifier: missingType.iterableValue

