
parameters:
    level: 6
    paths:
        - ./
    excludePaths:
        analyseAndScan:
            - public
            - vendor/
            - tests/
            - build (?)
            - cache (?)

    # TODO review once we drop PHP 7.x support
    treatPhpDocTypesAsCertain: false

    # some extra rules
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    # TODO checkMissingClosureNativeReturnTypehintRule: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true

    ignoreErrors:
        - identifier: missingType.iterableValue

