<div id="{$idAttr}" class="{$classAttr}" {$attributes}>
    <teleport to="#fohn-modals" class="invisible">
        <fohn-modal
                :store-id="{$storeId}"
                :title="{$title}"
                :is-closable="{$isClosable}"
                :callbacks="{callbacks}''{/}"
                :content-url="{contentUrl}''{/}"
                #default="@{heightCss, title, isOpen, isLoading, closeModal, openModal, onCallback, message, hasRemoteContent, isClosable}">
            <!-- Overlay     -->
            <transition
                    enter-active-class="transition ease-out duration-200 transform"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0"
            >
                <div v-show="isOpen" class="fixed inset-0 bg-gray-800 bg-opacity-50"></div>
            </transition>
            <!-- Modal     -->
            <transition
                    enter-active-class="transition ease-out duration-200"
                    enter-from-class="opacity-0 translate-y-10 scale-95"
                    enter-to-class="opacity-100 translate-y-0 scale-100"
                    leave-active-class="transition ease-in duration-200"
                    leave-from-class="opacity-100 translate-y-0 scale-100"
                    leave-to-class="opacity-0 translate-y-10 translate-y-0 scale-95">
                <div v-show="isOpen"
                     class=" overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full inset-0 h-full"
                     @click="closeModal">
                    <div class="__fohn-modal {$modalClassAttr}"
                         @click.stop=""
                         :class="heightCss"
                    >
                        <div class="sticky top-0 z-20 text-white bg-blue-500 h-12 rounded-t-md grid items-center">
                            <div class="grid grid-cols-6 p-2">
                                <div class="col-span-5">{{title}}</div>
                                <div v-if="isClosable"><span class="bi bi-x float-right text-lg cursor-pointer"
                                           @click="closeModal"></span></div>
                            </div>
                        </div>
                        <div class="p-5" v-if="message">{{message}}</div>
                        <div class="__fohn-modal-content p-5 min-h-[120px]" v-if="hasRemoteContent">
                            <fohn-spinner :spin="isLoading" v-if="isLoading"
                                          class="grid place-items-center"></fohn-spinner>
                            {$remoteContent}
                        </div>
                        {$Content}
                        <div class="sticky border-t border-gray-200 bottom-0 bg-white p-1">
                            <div class="grid place-content-end">
                                <div>
                                    {$Buttons}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </fohn-modal>
    </teleport>
</div>
