
<div id="{$idAttr}" {$attributes} class="{$classAttr} ">
<fohn-tabs
        :store-id="{$storeId}"
        :tabs-list="{$tabList}"
        :active-tab-idx="{$activeTabIdx}"
        #default="@{activate, currentIndex, tabsList}">
    {TabMenu}
    <ul class="mb-5 flex list-none flex-row flex-wrap border-b-0 pl-0">
        <li v-for="(tab, index) in tabsList" :key="index" role="presentation" class="flex-auto text-center cursor-pointer">
            <a
                    @click="activate(index)"
                    class="block border-x-0 border-b-2 border-t-0 border-transparent data-[active=true]:border-blue-400"
                    :data-active="index === currentIndex"
                    :data-name="tab.name"
            >{{tab.caption}}</a>
        </li>
    </ul>
    {/TabMenu}
    {$tabs}
</fohn-tabs>
</div>
