<!DOCTYPE html>
<html lang="{lang}en{/}" class="">
  <head>
    <title>{title}Fohn UI - Untitled Project{/}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {$meta}
    {$head}
    {$includeHeadJs}
    {$includeCss}
  </head>
  <body class="{$classAttr}">
  {$Content}
  <div id="fohn-toast"></div>
  <div id="fohn-modals"></div>
  <div id="fohn-exception-dialog" class="invisible"></div>
  {$includeJs}
  <script type="application/javascript">{$documentReady}</script>
  </body>
</html>
