<div id="{$idAttr}" {$attributes} class="{$classAttr}">
<fohn-control
    :caption="{$caption}"
    :html-input-attrs="{$inputAttrs}"
    :hint="{$hint}"
    :on-changes="{$onChanges}"
    :form-store-id="{$formStoreId}"
    #default="@{inputAttrs, caption, hint, errorMsg}"
    >
    <label class="relative block my-4">
        <span :class="@{'font-bold': inputAttrs.required, 'text-red-900': errorMsg}">{{caption}}</span>
        <div class="flex items-center">
            <input
                    v-bind="inputAttrs"
                    v-model="inputAttrs.value"
                    class="{$inputTws}"
                    :class="@{'border-red-900': errorMsg, 'bg-red-100': errorMsg, 'text-gray-400': inputAttrs.disabled}"
            >
        </div>
    </label>
    <div v-if="errorMsg" class="text-red-900 italic -mt-4 ml-2">{{errorMsg}}</div>
    <div v-if="!errorMsg && hint" class="italic text-gray-500 -mt-4 ml-2">{{hint}}</div>
</fohn-control>
</div>
