<div id="{$idAttr}" class="{$classAttr}" {$attributes}>
    <fohn-control
        :caption="{$caption}"
        :html-input-attrs="{$inputAttrs}"
        :hint="{$hint}"
        :on-changes="{$onChanges}"
        :form-store-id="{$formStoreId}"
        #default="@{inputAttrs, caption, hint, errorMsg}"
    >
        <div class="mb-2" :class="@{'font-bold': inputAttrs.required, 'text-red-900': errorMsg}">{{caption}}</div>
        <fohn-radio v-model="inputAttrs.value" :items="{$items}" :input-name="inputAttrs.name" #default="@{items, value, setCtrlValue, inputName}">
            <template v-for="(item, idx) in items">
                <label class="flex items-center mx-4">
                    <input
                            :name="inputName"
                            v-model="inputAttrs.value"
                            type="radio"
                           class="{$inputTws}"
                           :value="item.key"
                           @change="setCtrlValue(item.key)"
                    >
                    <span class="ml-2">{{item.label}}</span>
                </label>
            </template>
        </fohn-radio>
        <div v-if="errorMsg" class="text-red-900 italic ml-2">{{errorMsg}}</div>
        <div v-if="!errorMsg && hint" class="italic text-gray-500 ml-2">{{hint}}</div>
    </fohn-control>
</div>
